@charset "UTF-8";
/**
 * Table of Contents
 *
 * 1.0 Devices
 *      1.1 iMac
 *		1.2 iPad
 *		1.3 iPhone 5
 *		1.4 iPhone 5s
 * 		1.5 iPhone 6
 *      1.6 iPhone 6 Plus
 *      1.7 Lumia 920
 *      1.8 Macbook Pro
 *      1.9 Nexus 7
 *      1.10 Galaxy S3
 *      1.11 Surface
 * 2.0 Browsers
 * 		2.1 Chrome
 *		2.2 Firefox
 *		2.3 Safari
 * 3.0 Options
 *      3.1 Gallery
 *      3.2 Stacking
 *      3.3 Hiding
 *      3.4 Width
 *      3.5 Scrolling
 * 4.0 Vendors
 *      4.1 Slick Slider
 *
 */
/**
 * 1.0 Devices
 */
/**
 * 1.1 iMac
 */
.dm-device {
	position: relative;
	width: 100%;
	padding-bottom: 61.775701%;
	margin-bottom: 20px;
}

.dm-device img {
	max-width: 100%;
	height: auto;
}

.dm-device > .device {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	-webkit-background-size: 100% 100%;
	        background-size: 100% 100%;
	background-repeat: no-repeat;
}

.dm-device > .device > .screen {
	overflow: hidden;
	position: absolute;
	top: 11.0438729%;
	bottom: 14.6747352%;
	left: 13.364486%;
	right: 13.364486%;
	background-color: #3c3c3c;
}

.dm-device > .device > .screen .embed-youtube,
.dm-device > .device > .screen .jetpack-video-wrapper iframe,
.dm-device > .device > .screen iframe {
	width: 100% !important;
	height: 100% !important;
}

.dm-device > .device > .screen::-webkit-scrollbar {
	display: none;
}

.dm-device[data-device="imac"] {
	padding-bottom: 81.230769%;
}

.dm-device[data-device="imac"] > .device {
	background-image: url("../images/imac.png");
}

.dm-device[data-device="imac"] > .device > .screen {
	top: 8.20707071%;
	bottom: 31.6919192%;
	left: 6.61538462%;
	right: 6.61538462%;
}

/**
 * 1.2 iPad
 */
.dm-device {
	position: relative;
	width: 100%;
	padding-bottom: 61.775701%;
	margin-bottom: 20px;
}

.dm-device img {
	max-width: 100%;
	height: auto;
}

.dm-device > .device {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	-webkit-background-size: 100% 100%;
	        background-size: 100% 100%;
	background-repeat: no-repeat;
}

.dm-device > .device > .screen {
	overflow: hidden;
	position: absolute;
	top: 11.0438729%;
	bottom: 14.6747352%;
	left: 13.364486%;
	right: 13.364486%;
	background-color: #3c3c3c;
}

.dm-device > .device > .screen .embed-youtube,
.dm-device > .device > .screen .jetpack-video-wrapper iframe,
.dm-device > .device > .screen iframe {
	width: 100% !important;
	height: 100% !important;
}

.dm-device > .device > .screen::-webkit-scrollbar {
	display: none;
}

.dm-device[data-device="ipad"] {
	padding-bottom: 128.406276%;
}

.dm-device[data-device="ipad"][data-orientation="portrait"] {
	padding-bottom: 128.406276%;
}

.dm-device[data-device="ipad"][data-orientation="landscape"] {
	padding-bottom: 79.9086758%;
}

.dm-device[data-device="ipad"] > .device, .dm-device[data-device="ipad"][data-color="black"] >
.device, .dm-device[data-device="ipad"][data-orientation="portrait"][data-color="black"] > .device {
	background-image: url("../images/ipad_port_black.png");
}

.dm-device[data-device="ipad"][data-color="white"] > .device,
.dm-device[data-device="ipad"][data-orientation="portrait"][data-color="white"] > .device {
	background-image: url("../images/ipad_port_white.png");
}

.dm-device[data-device="ipad"][data-orientation="landscape"] > .device,
.dm-device[data-device="ipad"][data-orientation="landscape"][data-color="black"] > .device {
	background-image: url("../images/ipad_land_black.png");
}

.dm-device[data-device="ipad"][data-orientation="landscape"][data-color="white"] > .device {
	background-image: url("../images/ipad_land_white.png");
}

.dm-device[data-device="ipad"] > .device > .screen,
.dm-device[data-device="ipad"][data-orientation="portrait"] > .device > .screen {
	top: 12.025723%;
	bottom: 12.154341%;
	left: 13.45995%;
	right: 13.45995%;
}

.dm-device[data-device="ipad"][data-orientation="landscape"] > .device > .screen {
	top: 13.87755102%;
	bottom: 13.87755102%;
	left: 11.5459883%;
	right: 11.5459883%;
}

/**
 * 1.3 iPhone 5
 */
.dm-device {
	position: relative;
	width: 100%;
	padding-bottom: 61.775701%;
	margin-bottom: 20px;
}

.dm-device img {
	max-width: 100%;
	height: auto;
}

.dm-device > .device {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	-webkit-background-size: 100% 100%;
	        background-size: 100% 100%;
	background-repeat: no-repeat;
}

.dm-device > .device > .screen {
	overflow: hidden;
	position: absolute;
	top: 11.0438729%;
	bottom: 14.6747352%;
	left: 13.364486%;
	right: 13.364486%;
	background-color: #3c3c3c;
}

.dm-device > .device > .screen .embed-youtube,
.dm-device > .device > .screen .jetpack-video-wrapper iframe,
.dm-device > .device > .screen iframe {
	width: 100% !important;
	height: 100% !important;
}

.dm-device > .device > .screen::-webkit-scrollbar {
	display: none;
}

.dm-device[data-device="iphone5"] {
	padding-bottom: 200.477897%;
}

.dm-device[data-device="iphone5"][data-orientation="portrait"] {
	padding-bottom: 200.477897%;
}

.dm-device[data-device="iphone5"][data-orientation="landscape"] {
	padding-bottom: 49.9701136%;
}

.dm-device[data-device="iphone5"] > .device, .dm-device[data-device="iphone5"][data-color="black"] > .device,
.dm-device[data-device="iphone5"][data-orientation="portrait"][data-color="black"] > .device {
	background-image: url("../images/iphone5_port_black.png");
}

.dm-device[data-device="iphone5"][data-orientation="landscape"] > .device, .dm-device[data-device="iphone5"][data-orientation="landscape"][data-color="black"] > .device {
	background-image: url("../images/iphone5_land_black.png");
}

.dm-device[data-device="iphone5"][data-color="white"] > .device,
.dm-device[data-device="iphone5"][data-orientation="portrait"][data-color="white"] > .device {
	background-image: url("../images/iphone5_port_white.png");
}

.dm-device[data-device="iphone5"][data-orientation="landscape"][data-color="white"] > .device {
	background-image: url("../images/iphone5_land_white.png");
}

.dm-device[data-device="iphone5"] > .device > .screen,
.dm-device[data-device="iphone5"][data-orientation="portrait"] > .device > .screen {
	top: 16.28%;
	bottom: 16.28%;
	left: 11.77%;
	right: 11.77%;
}

.dm-device[data-device="iphone5"][data-orientation="landscape"] > .device > .screen {
	top: 11.722488%;
	bottom: 11.722488%;
	left: 16.0191273%;
	right: 16.0191273%;
}

/**
 * 1.4 iPhone 5s
 */
.dm-device {
	position: relative;
	width: 100%;
	padding-bottom: 61.775701%;
	margin-bottom: 20px;
}

.dm-device img {
	max-width: 100%;
	height: auto;
}

.dm-device > .device {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	-webkit-background-size: 100% 100%;
	        background-size: 100% 100%;
	background-repeat: no-repeat;
}

.dm-device > .device > .screen {
	overflow: hidden;
	position: absolute;
	top: 11.0438729%;
	bottom: 14.6747352%;
	left: 13.364486%;
	right: 13.364486%;
	background-color: #3c3c3c;
}

.dm-device > .device > .screen .embed-youtube,
.dm-device > .device > .screen .jetpack-video-wrapper iframe,
.dm-device > .device > .screen iframe {
	width: 100% !important;
	height: 100% !important;
}

.dm-device > .device > .screen::-webkit-scrollbar {
	display: none;
}

.dm-device[data-device="iphone5s"] {
	padding-bottom: 210.477897%;
}

.dm-device[data-device="iphone5s"][data-orientation="portrait"] {
	padding-bottom: 210.477897%;
}

.dm-device[data-device="iphone5s"][data-orientation="landscape"] {
	padding-bottom: 46.970114%;
}

.dm-device[data-device="iphone5s"] > .device, .dm-device[data-device="iphone5s"][data-color="black"] > .device,
.dm-device[data-device="iphone5s"][data-orientation="portrait"][data-color="black"] > .device {
	background-image: url("../images/iphone5s_port_black.png");
}

.dm-device[data-device="iphone5s"][data-orientation="landscape"] > .device, .dm-device[data-device="iphone5s"][data-orientation="landscape"][data-color="black"] > .device {
	background-image: url("../images/iphone5s_land_black.png");
}

.dm-device[data-device="iphone5s"][data-color="white"] > .device,
.dm-device[data-device="iphone5s"][data-orientation="portrait"][data-color="white"] > .device {
	background-image: url("../images/iphone5s_port_white.png");
}

.dm-device[data-device="iphone5s"][data-orientation="landscape"][data-color="white"] > .device {
	background-image: url("../images/iphone5s_land_white.png");
}

.dm-device[data-device="iphone5s"][data-color="gold"] > .device,
.dm-device[data-device="iphone5s"][data-orientation="portrait"][data-color="gold"] > .device {
	background-image: url("../images/iphone5s_port_gold.png");
}

.dm-device[data-device="iphone5s"][data-orientation="landscape"][data-color="gold"] > .device {
	background-image: url("../images/iphone5s_land_gold.png");
}

.dm-device[data-device="iphone5s"] > .device > .screen,
.dm-device[data-device="iphone5s"][data-orientation="portrait"] > .device > .screen {
	top: 14.7%;
	bottom: 14.2%;
	left: 8.6%;
	right: 7.5%;
}

.dm-device[data-device="iphone5s"][data-orientation="landscape"] > .device > .screen {
	top: 7.4%;
	bottom: 8.5%;
	left: 14.8%;
	right: 14.2%;
}

/**
 * 1.5 iPhone 6
 */
.dm-device {
	position: relative;
	width: 100%;
	padding-bottom: 61.775701%;
	margin-bottom: 20px;
}

.dm-device img {
	max-width: 100%;
	height: auto;
}

.dm-device > .device {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	-webkit-background-size: 100% 100%;
	        background-size: 100% 100%;
	background-repeat: no-repeat;
}

.dm-device > .device > .screen {
	overflow: hidden;
	position: absolute;
	top: 11.0438729%;
	bottom: 14.6747352%;
	left: 13.364486%;
	right: 13.364486%;
	background-color: #3c3c3c;
}

.dm-device > .device > .screen .embed-youtube,
.dm-device > .device > .screen .jetpack-video-wrapper iframe,
.dm-device > .device > .screen iframe {
	width: 100% !important;
	height: 100% !important;
}

.dm-device > .device > .screen::-webkit-scrollbar {
	display: none;
}

.dm-device[data-device="iphone6"] {
	padding-bottom: 200.477897%;
}

.dm-device[data-device="iphone6"][data-orientation="portrait"] {
	padding-bottom: 200.477897%;
}

.dm-device[data-device="iphone6"][data-orientation="landscape"] {
	padding-bottom: 49.9701136%;
}

.dm-device[data-device="iphone6"] > .device, .dm-device[data-device="iphone6"][data-color="black"] > .device,
.dm-device[data-device="iphone6"][data-orientation="portrait"][data-color="black"] > .device {
	background-image: url("../images/iphone6_port_black.png");
}

.dm-device[data-device="iphone6"][data-orientation="landscape"] > .device, .dm-device[data-device="iphone6"][data-orientation="landscape"][data-color="black"] > .device {
	background-image: url("../images/iphone6_land_black.png");
}

.dm-device[data-device="iphone6"][data-color="silver"] > .device,
.dm-device[data-device="iphone6"][data-orientation="portrait"][data-color="silver"] > .device {
	background-image: url("../images/iphone6_port_silver.png");
}

.dm-device[data-device="iphone6"][data-orientation="landscape"][data-color="silver"] > .device {
	background-image: url("../images/iphone6_land_silver.png");
}

.dm-device[data-device="iphone6"][data-color="gold"] > .device,
.dm-device[data-device="iphone6"][data-orientation="portrait"][data-color="gold"] > .device {
	background-image: url("../images/iphone6_port_gold.png");
}

.dm-device[data-device="iphone6"][data-orientation="landscape"][data-color="gold"] > .device {
	background-image: url("../images/iphone6_land_gold.png");
}

.dm-device[data-device="iphone6"] > .device > .screen,
.dm-device[data-device="iphone6"][data-orientation="portrait"] > .device > .screen {
	top: 12.2%;
	bottom: 12.1%;
	left: 6.6%;
	right: 6.6%;
}

.dm-device[data-device="iphone6"][data-orientation="landscape"] > .device > .screen {
	top: 6%;
	bottom: 6.1%;
	left: 11.6%;
	right: 11.6%;
}

/**
 * 1.6 iPhone 6 Plus
 */
.dm-device {
	position: relative;
	width: 100%;
	padding-bottom: 61.775701%;
	margin-bottom: 20px;
}

.dm-device img {
	max-width: 100%;
	height: auto;
}

.dm-device > .device {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	-webkit-background-size: 100% 100%;
	        background-size: 100% 100%;
	background-repeat: no-repeat;
}

.dm-device > .device > .screen {
	overflow: hidden;
	position: absolute;
	top: 11.0438729%;
	bottom: 14.6747352%;
	left: 13.364486%;
	right: 13.364486%;
	background-color: #3c3c3c;
}

.dm-device > .device > .screen .embed-youtube,
.dm-device > .device > .screen .jetpack-video-wrapper iframe,
.dm-device > .device > .screen iframe {
	width: 100% !important;
	height: 100% !important;
}

.dm-device > .device > .screen::-webkit-scrollbar {
	display: none;
}

.dm-device[data-device="iphone6-plus"] {
	padding-bottom: 200.477897%;
}

.dm-device[data-device="iphone6-plus"][data-orientation="portrait"] {
	padding-bottom: 200.477897%;
}

.dm-device[data-device="iphone6-plus"][data-orientation="landscape"] {
	padding-bottom: 49.9701136%;
}

.dm-device[data-device="iphone6-plus"] > .device, .dm-device[data-device="iphone6-plus"][data-color="black"] > .device,
.dm-device[data-device="iphone6-plus"][data-orientation="portrait"][data-color="black"] > .device {
	background-image: url("../images/iphone6_plus_port_black.png");
}

.dm-device[data-device="iphone6-plus"][data-orientation="landscape"] > .device, .dm-device[data-device="iphone6-plus"][data-orientation="landscape"][data-color="black"] > .device {
	background-image: url("../images/iphone6_plus_land_black.png");
}

.dm-device[data-device="iphone6-plus"][data-color="silver"] > .device,
.dm-device[data-device="iphone6-plus"][data-orientation="portrait"][data-color="silver"] > .device {
	background-image: url("../images/iphone6_plus_port_silver.png");
}

.dm-device[data-device="iphone6-plus"][data-orientation="landscape"][data-color="silver"] > .device {
	background-image: url("../images/iphone6_plus_land_silver.png");
}

.dm-device[data-device="iphone6-plus"][data-color="gold"] > .device,
.dm-device[data-device="iphone6-plus"][data-orientation="portrait"][data-color="gold"] > .device {
	background-image: url("../images/iphone6_plus_port_gold.png");
}

.dm-device[data-device="iphone6-plus"][data-orientation="landscape"][data-color="gold"] > .device {
	background-image: url("../images/iphone6_plus_land_gold.png");
}

.dm-device[data-device="iphone6-plus"] > .device > .screen,
.dm-device[data-device="iphone6-plus"][data-orientation="portrait"] > .device > .screen {
	top: 11.4%;
	bottom: 11.6%;
	left: 6.6%;
	right: 6.2%;
}

.dm-device[data-device="iphone6-plus"][data-orientation="landscape"] > .device > .screen {
	top: 6.3%;
	bottom: 6.5%;
	left: 11.4%;
	right: 11.6%;
}

/**
 * 1.7 Lumia 920
 */
.dm-device {
	position: relative;
	width: 100%;
	padding-bottom: 61.775701%;
	margin-bottom: 20px;
}

.dm-device img {
	max-width: 100%;
	height: auto;
}

.dm-device > .device {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	-webkit-background-size: 100% 100%;
	        background-size: 100% 100%;
	background-repeat: no-repeat;
}

.dm-device > .device > .screen {
	overflow: hidden;
	position: absolute;
	top: 11.0438729%;
	bottom: 14.6747352%;
	left: 13.364486%;
	right: 13.364486%;
	background-color: #3c3c3c;
}

.dm-device > .device > .screen .embed-youtube,
.dm-device > .device > .screen .jetpack-video-wrapper iframe,
.dm-device > .device > .screen iframe {
	width: 100% !important;
	height: 100% !important;
}

.dm-device > .device > .screen::-webkit-scrollbar {
	display: none;
}

.dm-device[data-device="lumia920"] {
	padding-bottom: 172.796353%;
}

.dm-device[data-device="lumia920"][data-orientation="portrait"] {
	padding-bottom: 172.796353%;
}

.dm-device[data-device="lumia920"][data-orientation="landscape"] {
	padding-bottom: 56.3330381%;
}

.dm-device[data-device="lumia920"] > .device, .dm-device[data-device="lumia920"][data-orientation="portrait"] > .device {
	background-image: url("../images/lumia920_port.png");
}

.dm-device[data-device="lumia920"][data-orientation="landscape"] > .device {
	background-image: url("../images/lumia920_land.png");
}

.dm-device[data-device="lumia920"] > .device > .screen,
.dm-device[data-device="lumia920"][data-orientation="portrait"] > .device > .screen {
	top: 10.6420405%;
	bottom: 18.9973615%;
	left: 13.5258359%;
	right: 13.5258359%;
}

.dm-device[data-device="lumia920"][data-orientation="landscape"] > .device > .screen {
	top: 12.2641509%;
	bottom: 12.2641509%;
	left: 10.5403012%;
	right: 18.6005314%;
}

/**
 * 1.8 Macbook
 */
.dm-device {
	position: relative;
	width: 100%;
	padding-bottom: 61.775701%;
	margin-bottom: 20px;
}

.dm-device img {
	max-width: 100%;
	height: auto;
}

.dm-device > .device {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	-webkit-background-size: 100% 100%;
	        background-size: 100% 100%;
	background-repeat: no-repeat;
}

.dm-device > .device > .screen {
	overflow: hidden;
	position: absolute;
	top: 11.0438729%;
	bottom: 14.6747352%;
	left: 13.364486%;
	right: 13.364486%;
	background-color: #3c3c3c;
}

.dm-device > .device > .screen .embed-youtube,
.dm-device > .device > .screen .jetpack-video-wrapper iframe,
.dm-device > .device > .screen iframe {
	width: 100% !important;
	height: 100% !important;
}

.dm-device > .device > .screen::-webkit-scrollbar {
	display: none;
}

.dm-device[data-device="macbook"] {
	padding-bottom: 61.775701%;
}

.dm-device[data-device="macbook"] > .device {
	background-image: url("../images/macbook.png");
}

.dm-device[data-device="macbook"] > .device > .screen {
	top: 11.0438729%;
	bottom: 14.6747352%;
	left: 13.364486%;
	right: 13.364486%;
}

/**
 * 1.9 Nexus
 */
.dm-device {
	position: relative;
	width: 100%;
	padding-bottom: 61.775701%;
	margin-bottom: 20px;
}

.dm-device img {
	max-width: 100%;
	height: auto;
}

.dm-device > .device {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	-webkit-background-size: 100% 100%;
	        background-size: 100% 100%;
	background-repeat: no-repeat;
}

.dm-device > .device > .screen {
	overflow: hidden;
	position: absolute;
	top: 11.0438729%;
	bottom: 14.6747352%;
	left: 13.364486%;
	right: 13.364486%;
	background-color: #3c3c3c;
}

.dm-device > .device > .screen .embed-youtube,
.dm-device > .device > .screen .jetpack-video-wrapper iframe,
.dm-device > .device > .screen iframe {
	width: 100% !important;
	height: 100% !important;
}

.dm-device > .device > .screen::-webkit-scrollbar {
	display: none;
}

.dm-device[data-device="nexus7"] {
	padding-bottom: 156.521739%;
}

.dm-device[data-device="nexus7"][data-orientation="portrait"] {
	padding-bottom: 156.521739%;
}

.dm-device[data-device="nexus7"][data-orientation="landscape"] {
	padding-bottom: 63.6678201%;
}

.dm-device[data-device="nexus7"] > .device, .dm-device[data-device="nexus7"][data-orientation="portrait"] > .device {
	background-image: url("../images/nexus7_port.png");
}

.dm-device[data-device="nexus7"][data-orientation="landscape"] > .device {
	background-image: url("../images/nexus7_land.png");
}

.dm-device[data-device="nexus7"] > .device > .screen,
.dm-device[data-device="nexus7"][data-orientation="portrait"] > .device > .screen {
	top: 13.1365741%;
	bottom: 12.7893519%;
	left: 13.7681159%;
	right: 13.7681159%;
}

.dm-device[data-device="nexus7"][data-orientation="landscape"] > .device > .screen {
	top: 13.7681159%;
	bottom: 13.7681159%;
	left: 13.0911188%;
	right: 13.0911188%;
}

/**
 * 1.10 Galaxy S3
 */
.dm-device {
	position: relative;
	width: 100%;
	padding-bottom: 61.775701%;
	margin-bottom: 20px;
}

.dm-device img {
	max-width: 100%;
	height: auto;
}

.dm-device > .device {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	-webkit-background-size: 100% 100%;
	        background-size: 100% 100%;
	background-repeat: no-repeat;
}

.dm-device > .device > .screen {
	overflow: hidden;
	position: absolute;
	top: 11.0438729%;
	bottom: 14.6747352%;
	left: 13.364486%;
	right: 13.364486%;
	background-color: #3c3c3c;
}

.dm-device > .device > .screen .embed-youtube,
.dm-device > .device > .screen .jetpack-video-wrapper iframe,
.dm-device > .device > .screen iframe {
	width: 100% !important;
	height: 100% !important;
}

.dm-device > .device > .screen::-webkit-scrollbar {
	display: none;
}

.dm-device[data-device="s3"] {
	padding-bottom: 178.787879%;
}

.dm-device[data-device="s3"][data-orientation="portrait"] {
	padding-bottom: 178.787879%;
}

.dm-device[data-device="s3"][data-orientation="landscape"] {
	padding-bottom: 55.9322034%;
}

.dm-device[data-device="s3"] > .device, .dm-device[data-device="s3"][data-color="black"] > .device,
.dm-device[data-device="s3"][data-orientation="portrait"][data-color="black"] > .device {
	background-image: url("../images/s3_port_black.png");
}

.dm-device[data-device="s3"][data-orientation="landscape"] > .device, .dm-device[data-device="s3"][data-orientation="landscape"][data-color="black"] > .device {
	background-image: url("../images/s3_land_black.png");
}

.dm-device[data-device="s3"][data-color="white"] > .device,
.dm-device[data-device="s3"][data-orientation="portrait"][data-color="white"] > .device {
	background-image: url("../images/s3_port_white.png");
}

.dm-device[data-device="s3"][data-orientation="landscape"][data-color="white"] > .device {
	background-image: url("../images/s3_land_white.png");
}

.dm-device[data-device="s3"] > .device > .screen,
.dm-device[data-device="s3"][data-orientation="portrait"] > .device > .screen {
	top: 12.3728814%;
	bottom: 15.5367232%;
	left: 13.8383838%;
	right: 13.8383838%;
}

.dm-device[data-device="s3"][data-orientation="landscape"] > .device > .screen {
	top: 13.8383838%;
	bottom: 13.8383838%;
	left: 12.3728814%;
	right: 15.5367232%;
}

/**
 * 1.11 Surface
 */
.dm-device {
	position: relative;
	width: 100%;
	padding-bottom: 61.775701%;
	margin-bottom: 20px;
}

.dm-device img {
	max-width: 100%;
	height: auto;
}

.dm-device > .device {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	-webkit-background-size: 100% 100%;
	        background-size: 100% 100%;
	background-repeat: no-repeat;
}

.dm-device > .device > .screen {
	overflow: hidden;
	position: absolute;
	top: 11.0438729%;
	bottom: 14.6747352%;
	left: 13.364486%;
	right: 13.364486%;
	background-color: #3c3c3c;
}

.dm-device > .device > .screen .embed-youtube,
.dm-device > .device > .screen .jetpack-video-wrapper iframe,
.dm-device > .device > .screen iframe {
	width: 100% !important;
	height: 100% !important;
}

.dm-device > .device > .screen::-webkit-scrollbar {
	display: none;
}

.dm-device[data-device="surface"] {
	padding-bottom: 64.7584973%;
}

.dm-device[data-device="surface"][data-orientation="landscape"] {
	padding-bottom: 64.7584973%;
}

.dm-device[data-device="surface"][data-orientation="landscape"] > .device {
	background-image: url("../images/surface.png");
}

.dm-device[data-device="surface"][data-orientation="landscape"] > .device > .screen {
	top: 14.5488029%;
	bottom: 14.9171271%;
	left: 9.36195587%;
	right: 9.36195587%;
}

.dm-device[data-device="surface"] > .device {
	background-image: url("../images/surface.png");
}

.dm-device[data-device="surface"] > .device > .screen {
	top: 14.5488029%;
	bottom: 14.9171271%;
	left: 9.36195587%;
	right: 9.36195587%;
}

/**
 * 2.0 Browsers
 */
/**
 * 2.1 Chrome
 */
.dm-browser {
	position: relative;
	width: 100%;
	padding-bottom: 61.775701%;
	margin-bottom: 20px;
}

.dm-browser img {
	max-width: 100%;
	height: auto;
	border-right: none !important;
}

.dm-browser > .device {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	-webkit-background-size: 100% 100%;
	        background-size: 100% 100%;
	background-repeat: no-repeat;
}

.dm-browser > .device > .screen {
	position: absolute;
	top: 15.043873%;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	background-color: #fff;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.dm-browser > .device > .screen .embed-youtube,
.dm-browser > .device > .screen iframe {
	width: 100% !important;
	height: 100% !important;
}

.dm-browser[data-device="chrome"] > .device {
	background-image: url("../images/chrome.png");
}

.dm-browser[data-device="chrome"] > .device > .screen {
	top: 12.4%;
	border: 1px solid #f3f2f3;
}

/**
 * 2.2 Firefox
 */
.dm-browser {
	position: relative;
	width: 100%;
	padding-bottom: 61.775701%;
	margin-bottom: 20px;
}

.dm-browser img {
	max-width: 100%;
	height: auto;
	border-right: none !important;
}

.dm-browser > .device {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	-webkit-background-size: 100% 100%;
	        background-size: 100% 100%;
	background-repeat: no-repeat;
}

.dm-browser > .device > .screen {
	position: absolute;
	top: 15.043873%;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	background-color: #fff;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.dm-browser > .device > .screen .embed-youtube,
.dm-browser > .device > .screen iframe {
	width: 100% !important;
	height: 100% !important;
}

.dm-browser[data-device="firefox"] > .device {
	background-image: url("../images/firefox.png");
}

.dm-browser[data-device="firefox"] > .device > .screen {
	top: 13.3%;
	border: 1px solid #f6f6f6;
}

/**
 * 2.3 Safari
 */
.dm-browser {
	position: relative;
	width: 100%;
	padding-bottom: 61.775701%;
	margin-bottom: 20px;
}

.dm-browser img {
	max-width: 100%;
	height: auto;
	border-right: none !important;
}

.dm-browser > .device {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	-webkit-background-size: 100% 100%;
	        background-size: 100% 100%;
	background-repeat: no-repeat;
}

.dm-browser > .device > .screen {
	position: absolute;
	top: 15.043873%;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	background-color: #fff;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.dm-browser > .device > .screen .embed-youtube,
.dm-browser > .device > .screen iframe {
	width: 100% !important;
	height: 100% !important;
}

.dm-browser[data-device="safari"] > .device {
	background-image: url("../images/safari.png");
}

.dm-browser[data-device="safari"] > .device > .screen {
	top: 5.9%;
	border: 1px solid #eee;
}

/**
 * 3.0 Options
 */
/**
 * 3.1 Gallery
 */
.dm-device .gallery-item {
	padding: 0;
}

/**
 * 3.2 Stacking
 */
.dm-stacked {
	position: relative;
	margin-bottom: 20px;
	height: auto;
	width: 100%;
}

.dm-stacked .dm-stacked-left,
.dm-stacked .dm-stacked-right {
	position: absolute;
	bottom: 0;
	z-index: 10;
}

.dm-stacked .dm-stacked-left.iphone6,
.dm-stacked .dm-stacked-right.iphone6 {
	width: 17%;
}

.dm-stacked .dm-stacked-left.iphone6.landscape,
.dm-stacked .dm-stacked-right.iphone6.landscape {
	width: 39%;
}

.dm-stacked .dm-stacked-left.iphone6-plus,
.dm-stacked .dm-stacked-right.iphone6-plus {
	width: 21%;
}

.dm-stacked .dm-stacked-left.iphone6-plus.landscape,
.dm-stacked .dm-stacked-right.iphone6-plus.landscape {
	width: 46%;
}

.dm-stacked .dm-stacked-left.iphone5s,
.dm-stacked .dm-stacked-right.iphone5s {
	width: 17%;
}

.dm-stacked .dm-stacked-left.iphone5s.landscape,
.dm-stacked .dm-stacked-right.iphone5s.landscape {
	width: 37%;
}

.dm-stacked .dm-stacked-left.iphone5,
.dm-stacked .dm-stacked-right.iphone5 {
	width: 16%;
}

.dm-stacked .dm-stacked-left.iphone5.landscape,
.dm-stacked .dm-stacked-right.iphone5.landscape {
	width: 35%;
}

.dm-stacked .dm-stacked-left.ipad,
.dm-stacked .dm-stacked-right.ipad {
	bottom: -12px;
	width: 45%;
}

.dm-stacked .dm-stacked-left.ipad.landscape,
.dm-stacked .dm-stacked-right.ipad.landscape {
	width: 65%;
}

.dm-stacked .dm-stacked-left.s3,
.dm-stacked .dm-stacked-right.s3 {
	width: 20%;
}

.dm-stacked .dm-stacked-left.s3.landscape,
.dm-stacked .dm-stacked-right.s3.landscape {
	width: 45%;
}

.dm-stacked .dm-stacked-left.nexus7,
.dm-stacked .dm-stacked-right.nexus7 {
	width: 30%;
}

.dm-stacked .dm-stacked-left.nexus7.landscape,
.dm-stacked .dm-stacked-right.nexus7.landscape {
	width: 50%;
}

.dm-stacked .dm-stacked-left.lumia920,
.dm-stacked .dm-stacked-right.lumia920 {
	width: 20%;
}

.dm-stacked .dm-stacked-left.lumia920.landscape,
.dm-stacked .dm-stacked-right.lumia920.landscape {
	width: 36%;
}

.dm-stacked .dm-stacked-left.surface,
.dm-stacked .dm-stacked-right.surface {
	width: 45%;
}

.dm-stacked .dm-stacked-left {
	left: 50px;
}

.dm-stacked .dm-stacked-right {
	right: 50px;
}

.dm-stacked .dm-device {
	margin-bottom: 0;
}

@media screen and (max-width: 768px) {
	.dm-stacked .dm-stacked-left {
		left: 10px;
	}
	.dm-stacked .dm-stacked-right {
		right: 10px;
	}
}

/**
 * 3.3 Hiding
 */
.dm-hide-left {
	overflow: hidden;
	margin-left: -70px;
}

.dm-hide-left .dm-device {
	position: relative;
	right: 33.3333333333%;
}

.dm-hide-right {
	overflow: hidden;
	margin-right: -70px;
}

.dm-hide-right .dm-device {
	position: relative;
	left: 33.3333333333%;
}

/**
 * 3.4 Width
 */
.dm-width {
	max-width: 100%;
	display: inline-block;
}

/**
 * 3.5 Scroll
 */
@media screen and (min-width: 768px) {
	.dm-scroll > .device > .screen {
		overflow-y: scroll;
	}
}

/**
 * 4.0 Vendors
 */
/**
 * 4.1 Slick Slider
 */
/* Slider */
.slick-slider {
	position: relative;
	display: block;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
}

.slick-track:before, .slick-track:after {
	content: "";
	display: table;
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	display: none;
}

[dir="rtl"] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}

/* Slider */
.slick-loading .slick-list {
	background: #fff url("../images/ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
	font-family: "slick";
	src: url("../fonts/slick.eot");
	src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg");
	font-weight: normal;
	font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
	position: absolute;
	display: block;
	height: 20px;
	width: 20px;
	line-height: 0px;
	font-size: 0px;
	cursor: pointer;
	background: transparent;
	color: transparent;
	top: 50%;
	margin-top: -10px\9;
	/*lte IE 8*/
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	   transform: translate(0, -50%);
	padding: 0;
	border: none;
	outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
	outline: none;
	background: transparent;
	color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
	opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
	opacity: 0.25;
}

.slick-prev:before, .slick-next:before {
	font-family: "slick";
	font-size: 20px;
	line-height: 1;
	color: white;
	opacity: 0.75;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slick-prev {
	left: -25px;
}

[dir="rtl"] .slick-prev {
	left: auto;
	right: -25px;
}

.slick-prev:before {
	content: "←";
}

[dir="rtl"] .slick-prev:before {
	content: "→";
}

.slick-next {
	right: -25px;
}

[dir="rtl"] .slick-next {
	left: -25px;
	right: auto;
}

.slick-next:before {
	content: "→";
}

[dir="rtl"] .slick-next:before {
	content: "←";
}

/* Dots */
.slick-slider {
	margin-bottom: 30px;
}

.slick-dots {
	position: absolute;
	bottom: -45px;
	list-style: none;
	display: block;
	text-align: center;
	padding: 0;
	width: 100%;
}

.slick-dots li {
	position: relative;
	display: inline-block;
	height: 20px;
	width: 20px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
}

.slick-dots li button {
	border: 0;
	background: transparent;
	display: block;
	height: 20px;
	width: 20px;
	outline: none;
	line-height: 0px;
	font-size: 0px;
	color: transparent;
	padding: 5px;
	cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
	outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
	opacity: 1;
}

.slick-dots li button:before {
	position: absolute;
	top: 0;
	left: 0;
	content: "•";
	width: 20px;
	height: 20px;
	font-family: "slick";
	font-size: 6px;
	line-height: 20px;
	text-align: center;
	color: black;
	opacity: 0.25;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
	color: black;
	opacity: 0.75;
}