.dm-browser {
    @include dm-browser;
    &[data-device="safari"] {
        & > .device {
            background-image: url("#{$base-url}safari.png");
            & > .screen {
                top: 5.9%;
                border: 1px solid #eee;
            }
        }
    }
}
