/*
 *  HTML5 Device Mockups
 *
 *  By:
 *      Tomi Hiltunen
 *      tomi@mitakuuluu.fi
 *      http://fi.linkedin.com/in/tomihiltunen/
 *
 *      Angelos Arnis
 *      http://fi.linkedin.com/in/angelosarnis/
 *
 *  Inluded in this package:
 *      - iPhone5 (black/white, portrait/landscape)
 *      - iPad2 (black/white, portrait/landscape)
 *      - iMac
 *      - MacBook Pro (retina model)
 *      - Nexus 7
 *      - Lumia 920
 *      - Microsoft Surface
 *      - Galaxy S3
 */

/* GENERAL STYLE */
.device-mockup {
    position: relative;
    width: 100%;
    padding-bottom: 61.775701%;
    > .device {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url("../img/macbook.png");
        > {
            .screen {
                position: absolute;
                top: 11.0438729%;
                bottom: 14.6747352%;
                left: 13.364486%;
                right: 13.364486%;
                overflow: hidden;
            }
            .button {
                position: absolute;
                top: 0;
                left: 0;
                display: none;
                overflow: hidden;
                border-radius: 100%;
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
                cursor: pointer;
            }
        }
    }
    &[data-device="imac"] {
        padding-bottom: 81.230769%;
        > .device {
            background-image: url("../img/imac.png");
            > .screen {
                top: 8.20707071%;
                bottom: 31.6919192%;
                left: 6.61538462%;
                right: 6.61538462%;
            }
        }
    }
    &[data-device="macbook"] {
        padding-bottom: 61.775701%;
        > .device {
            background-image: url("../img/macbook.png");
            > .screen {
                top: 11.0438729%;
                bottom: 14.6747352%;
                left: 13.364486%;
                right: 13.364486%;
            }
        }
    }
    &[data-device="iphone5"] {
        padding-bottom: 200.477897%;
        &[data-orientation="portrait"] {
            padding-bottom: 200.477897%;
        }
        &[data-orientation="landscape"] {
            padding-bottom: 49.9701136%;
        }
        > .device, &[data-color="black"] > .device, &[data-orientation="portrait"][data-color="black"] > .device {
            background-image: url("../img/iphone5_port_black.png");
        }
        &[data-orientation="landscape"] {
            > .device, &[data-color="black"] > .device {
                background-image: url("../img/iphone5_land_black.png");
            }
        }
        &[data-color="white"] > .device, &[data-orientation="portrait"][data-color="white"] > .device {
            background-image: url("../img/iphone5_port_white.png");
        }
        &[data-orientation="landscape"][data-color="white"] > .device {
            background-image: url("../img/iphone5_land_white.png");
        }
        > .device > .screen, &[data-orientation="portrait"] > .device > .screen {
            top: 16.28%;
            bottom: 16.28%;
            left: 11.77%;
            right: 11.77%;
        }
        &[data-orientation="landscape"] > .device > .screen {
            top: 11.722488%;
            bottom: 11.722488%;
            left: 16.0191273%;
            right: 16.0191273%;
        }
        > .device > .button, &[data-orientation="portrait"] > .device > .button {
            display: block;
            top: 86.3%;
            bottom: 5.5%;
            left: 42%;
            right: 42%;
        }
        &[data-orientation="landscape"] > .device > .button {
            display: block;
            top: 42%;
            bottom: 42%;
            left: 86.4%;
            right: 5.1%;
        }
    }
    &[data-device="ipad"] {
        padding-bottom: 128.406276%;
        &[data-orientation="portrait"] {
            padding-bottom: 128.406276%;
        }
        &[data-orientation="landscape"] {
            padding-bottom: 79.9086758%;
        }
        > .device, &[data-color="black"] > .device, &[data-orientation="portrait"][data-color="black"] > .device {
            background-image: url("../img/ipad_port_black.png");
        }
        &[data-color="white"] > .device, &[data-orientation="portrait"][data-color="white"] > .device {
            background-image: url("../img/ipad_port_white.png");
        }
        &[data-orientation="landscape"] {
            > .device, &[data-color="black"] > .device {
                background-image: url("../img/ipad_land_black.png");
            }
            &[data-color="white"] > .device {
                background-image: url("../img/ipad_land_white.png");
            }
        }
        > .device > .screen, &[data-orientation="portrait"] > .device > .screen {
            top: 12.025723%;
            bottom: 12.154341%;
            left: 13.45995%;
            right: 13.45995%;
        }
        &[data-orientation="landscape"] > .device > .screen {
            top: 13.87755102%;
            bottom: 13.87755102%;
            left: 11.5459883%;
            right: 11.5459883%;
        }
        > .device > .button, &[data-orientation="portrait"] > .device > .button {
            display: block;
            top: 90.2%;
            bottom: 5.5%;
            left: 47.3%;
            right: 47.3%;
        }
        &[data-orientation="landscape"] > .device > .button {
            display: block;
            top: 47.3%;
            bottom: 47.3%;
            left: 90.8%;
            right: 4.9%;
        }
    }
    &[data-device="s3"] {
        padding-bottom: 178.787879%;
        &[data-orientation="portrait"] {
            padding-bottom: 178.787879%;
        }
        &[data-orientation="landscape"] {
            padding-bottom: 55.9322034%;
        }
        > .device, &[data-color="black"] > .device, &[data-orientation="portrait"][data-color="black"] > .device {
            background-image: url("../img/s3_port_black.png");
        }
        &[data-orientation="landscape"] {
            > .device, &[data-color="black"] > .device {
                background-image: url("../img/s3_land_black.png");
            }
        }
        &[data-color="white"] > .device, &[data-orientation="portrait"][data-color="white"] > .device {
            background-image: url("../img/s3_port_white.png");
        }
        &[data-orientation="landscape"][data-color="white"] > .device {
            background-image: url("../img/s3_land_white.png");
        }
        > .device > .screen, &[data-orientation="portrait"] > .device > .screen {
            top: 12.3728814%;
            bottom: 15.5367232%;
            left: 13.8383838%;
            right: 13.8383838%;
        }
        &[data-orientation="landscape"] > .device > .screen {
            top: 13.8383838%;
            bottom: 13.8383838%;
            left: 12.3728814%;
            right: 15.5367232%;
        }
    }
    &[data-device="lumia920"] {
        padding-bottom: 172.796353%;
        &[data-orientation="portrait"] {
            padding-bottom: 172.796353%;
        }
        &[data-orientation="landscape"] {
            padding-bottom: 56.3330381%;
        }
        > .device, &[data-orientation="portrait"] > .device {
            background-image: url("../img/lumia920_port.png");
        }
        &[data-orientation="landscape"] > .device {
            background-image: url("../img/lumia920_land.png");
        }
        > .device > .screen, &[data-orientation="portrait"] > .device > .screen {
            top: 10.6420405%;
            bottom: 18.9973615%;
            left: 13.5258359%;
            right: 13.5258359%;
        }
        &[data-orientation="landscape"] > .device > .screen {
            top: 12.2641509%;
            bottom: 12.2641509%;
            left: 10.5403012%;
            right: 18.6005314%;
        }
    }
    &[data-device="nexus7"] {
        padding-bottom: 156.521739%;
        &[data-orientation="portrait"] {
            padding-bottom: 156.521739%;
        }
        &[data-orientation="landscape"] {
            padding-bottom: 63.6678201%;
        }
        > .device, &[data-orientation="portrait"] > .device {
            background-image: url("../img/nexus7_port.png");
        }
        &[data-orientation="landscape"] > .device {
            background-image: url("../img/nexus7_land.png");
        }
        > .device > .screen, &[data-orientation="portrait"] > .device > .screen {
            top: 13.1365741%;
            bottom: 12.7893519%;
            left: 13.7681159%;
            right: 13.7681159%;
        }
        &[data-orientation="landscape"] > .device > .screen {
            top: 13.7681159%;
            bottom: 13.7681159%;
            left: 13.0911188%;
            right: 13.0911188%;
        }
    }
    &[data-device="surface"] {
        padding-bottom: 64.7584973%;
        &[data-orientation="landscape"] {
            padding-bottom: 64.7584973%;
            > .device {
                background-image: url("../img/surface.png");
            }
            > .device > .screen {
                top: 14.5488029%;
                bottom: 14.9171271%;
                left: 9.36195587%;
                right: 9.36195587%;
            }
        }
        > .device {
            background-image: url("../img/surface.png");
        }
        > .device > .screen {
            top: 14.5488029%;
            bottom: 14.9171271%;
            left: 9.36195587%;
            right: 9.36195587%;
        }
    }
}