.dm-device {
    @include dm-device;
    &[data-device="iphone6"] {
        padding-bottom: 200.477897%;
        &[data-orientation="portrait"] {
            padding-bottom: 200.477897%;
        }
        &[data-orientation="landscape"] {
            padding-bottom: 49.9701136%;
        }
        & > .device, &[data-color="black"] > .device,
        &[data-orientation="portrait"][data-color="black"] > .device {
            background-image: url("#{$base-url}iphone6_port_black.png");
        }
        &[data-orientation="landscape"] {
            & > .device, &[data-color="black"] > .device {
                background-image: url("#{$base-url}iphone6_land_black.png");
            }
        }
        &[data-color="silver"] > .device,
        &[data-orientation="portrait"][data-color="silver"] > .device {
            background-image: url("#{$base-url}iphone6_port_silver.png");
        }
        &[data-orientation="landscape"][data-color="silver"] > .device {
            background-image: url("#{$base-url}iphone6_land_silver.png");
        }
        &[data-color="gold"] > .device,
        &[data-orientation="portrait"][data-color="gold"] > .device {
            background-image: url("#{$base-url}iphone6_port_gold.png");
        }
        &[data-orientation="landscape"][data-color="gold"] > .device {
            background-image: url("#{$base-url}iphone6_land_gold.png");
        }
        & > .device > .screen,
        &[data-orientation="portrait"] > .device > .screen {
            top: 12.2%;
            bottom: 12.1%;
            left: 6.6%;
            right: 6.6%;
        }
        &[data-orientation="landscape"] > .device > .screen {
            top: 6%;
            bottom: 6.1%;
            left: 11.6%;
            right: 11.6%;
        }
    }
}
