/**
 * Nexus 7
 */
.dm-device {
  @include dm-device;
  &[data-device="nexus7"] {
    padding-bottom: 156.521739%;
    &[data-orientation="portrait"] {
      padding-bottom: 156.521739%;
    }
    &[data-orientation="landscape"] {
      padding-bottom: 63.6678201%;
    }
    & > .device, &[data-orientation="portrait"] > .device {
      background-image: url("img/nexus7_port.png");
    }
    &[data-orientation="landscape"] > .device {
      background-image: url("img/nexus7_land.png");
    }
    & > .device > .screen,
    &[data-orientation="portrait"] > .device > .screen {
      top: 13.1365741%;
      bottom: 12.7893519%;
      left: 13.7681159%;
      right: 13.7681159%;
    }
    &[data-orientation="landscape"] > .device > .screen {
      top: 13.7681159%;
      bottom: 13.7681159%;
      left: 13.0911188%;
      right: 13.0911188%;
    }
  }
}
