/**
 * Galaxy S3
 */
.dm-device {
  @include dm-device;
  &[data-device="s3"] {
    padding-bottom: 178.787879%;
    &[data-orientation="portrait"] {
      padding-bottom: 178.787879%;
    }
    &[data-orientation="landscape"] {
      padding-bottom: 55.9322034%;
    }
    & > .device, &[data-color="black"] > .device,
    &[data-orientation="portrait"][data-color="black"] > .device {
      background-image: url("img/s3_port_black.png");
    }
    &[data-orientation="landscape"] {
      & > .device, &[data-color="black"] > .device {
        background-image: url("img/s3_land_black.png");
      }
    }
    &[data-color="white"] > .device,
    &[data-orientation="portrait"][data-color="white"] > .device {
      background-image: url("img/s3_port_white.png");
    }
    &[data-orientation="landscape"][data-color="white"] > .device {
      background-image: url("img/s3_land_white.png");
    }
    & > .device > .screen,
    &[data-orientation="portrait"] > .device > .screen {
      top: 12.3728814%;
      bottom: 15.5367232%;
      left: 13.8383838%;
      right: 13.8383838%;
    }
    &[data-orientation="landscape"] > .device > .screen {
      top: 13.8383838%;
      bottom: 13.8383838%;
      left: 12.3728814%;
      right: 15.5367232%;
    }
  }
}
