/*
Plugin Name: Device Mockups
Plugin URI: https://wordpress.org/plugins/device-mockups/
Author: Justin Peacock
Author URI: http://byjust.in/
Version: 1.4.0
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

.dm-width {
  max-width: 100%;
  display: inline-block; }

/**
 * Devices
 */
/*
   iMac
   ========================================================================== */
.dm-device {
  position: relative;
  width: 100%;
  padding-bottom: 61.7757%;
  margin-bottom: 20px; }
  .dm-device img {
    max-width: 100%;
    height: auto; }
  .dm-device > .device {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat; }
    .dm-device > .device> .screen {
      position: absolute;
      top: 11.04387%;
      bottom: 14.67474%;
      left: 13.36449%;
      right: 13.36449%;
      overflow: hidden;
      background-color: #3c3c3c; }
      .dm-device > .device> .screen .embed-youtube, .dm-device > .device> .screen iframe {
        width: 100% !important;
        height: 100% !important; }
  .dm-device[data-device="imac"] {
    padding-bottom: 81.23077%; }
    .dm-device[data-device="imac"] > .device {
      background-image: url("../img/imac.png"); }
      .dm-device[data-device="imac"] > .device > .screen {
        top: 8.20707%;
        bottom: 31.69192%;
        left: 6.61538%;
        right: 6.61538%; }

/*
   iPad
   ========================================================================== */
.dm-device {
  position: relative;
  width: 100%;
  padding-bottom: 61.7757%;
  margin-bottom: 20px; }
  .dm-device img {
    max-width: 100%;
    height: auto; }
  .dm-device > .device {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat; }
    .dm-device > .device> .screen {
      position: absolute;
      top: 11.04387%;
      bottom: 14.67474%;
      left: 13.36449%;
      right: 13.36449%;
      overflow: hidden;
      background-color: #3c3c3c; }
      .dm-device > .device> .screen .embed-youtube, .dm-device > .device> .screen iframe {
        width: 100% !important;
        height: 100% !important; }
  .dm-device[data-device="ipad"] {
    padding-bottom: 128.40628%; }
    .dm-device[data-device="ipad"][data-orientation="portrait"] {
      padding-bottom: 128.40628%; }
    .dm-device[data-device="ipad"][data-orientation="landscape"] {
      padding-bottom: 79.90868%; }
    .dm-device[data-device="ipad"] > .device, .dm-device[data-device="ipad"][data-color="black"] > .device, .dm-device[data-device="ipad"][data-orientation="portrait"][data-color="black"] > .device {
      background-image: url("../img/ipad_port_black.png"); }
    .dm-device[data-device="ipad"][data-color="white"] > .device, .dm-device[data-device="ipad"][data-orientation="portrait"][data-color="white"] > .device {
      background-image: url("../img/ipad_port_white.png"); }
    .dm-device[data-device="ipad"][data-orientation="landscape"] > .device, .dm-device[data-device="ipad"][data-orientation="landscape"][data-color="black"] > .device {
      background-image: url("../img/ipad_land_black.png"); }
    .dm-device[data-device="ipad"][data-orientation="landscape"][data-color="white"] > .device {
      background-image: url("../img/ipad_land_white.png"); }
    .dm-device[data-device="ipad"] > .device > .screen, .dm-device[data-device="ipad"][data-orientation="portrait"] > .device > .screen {
      top: 12.02572%;
      bottom: 12.15434%;
      left: 13.45995%;
      right: 13.45995%; }
    .dm-device[data-device="ipad"][data-orientation="landscape"] > .device > .screen {
      top: 13.87755%;
      bottom: 13.87755%;
      left: 11.54599%;
      right: 11.54599%; }

/*
   iPhone 5
   ========================================================================== */
.dm-device {
  position: relative;
  width: 100%;
  padding-bottom: 61.7757%;
  margin-bottom: 20px; }
  .dm-device img {
    max-width: 100%;
    height: auto; }
  .dm-device > .device {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat; }
    .dm-device > .device> .screen {
      position: absolute;
      top: 11.04387%;
      bottom: 14.67474%;
      left: 13.36449%;
      right: 13.36449%;
      overflow: hidden;
      background-color: #3c3c3c; }
      .dm-device > .device> .screen .embed-youtube, .dm-device > .device> .screen iframe {
        width: 100% !important;
        height: 100% !important; }
  .dm-device[data-device="iphone5"] {
    padding-bottom: 200.4779%; }
    .dm-device[data-device="iphone5"][data-orientation="portrait"] {
      padding-bottom: 200.4779%; }
    .dm-device[data-device="iphone5"][data-orientation="landscape"] {
      padding-bottom: 49.97011%; }
    .dm-device[data-device="iphone5"] > .device, .dm-device[data-device="iphone5"][data-color="black"] > .device, .dm-device[data-device="iphone5"][data-orientation="portrait"][data-color="black"] > .device {
      background-image: url("../img/iphone5_port_black.png"); }
    .dm-device[data-device="iphone5"][data-orientation="landscape"] > .device, .dm-device[data-device="iphone5"][data-orientation="landscape"][data-color="black"] > .device {
      background-image: url("../img/iphone5_land_black.png"); }
    .dm-device[data-device="iphone5"][data-color="white"] > .device, .dm-device[data-device="iphone5"][data-orientation="portrait"][data-color="white"] > .device {
      background-image: url("../img/iphone5_port_white.png"); }
    .dm-device[data-device="iphone5"][data-orientation="landscape"][data-color="white"] > .device {
      background-image: url("../img/iphone5_land_white.png"); }
    .dm-device[data-device="iphone5"] > .device > .screen, .dm-device[data-device="iphone5"][data-orientation="portrait"] > .device > .screen {
      top: 16.28%;
      bottom: 16.28%;
      left: 11.77%;
      right: 11.77%; }
    .dm-device[data-device="iphone5"][data-orientation="landscape"] > .device > .screen {
      top: 11.72249%;
      bottom: 11.72249%;
      left: 16.01913%;
      right: 16.01913%; }

/*
   iPhone 5s
   ========================================================================== */
.dm-device {
  position: relative;
  width: 100%;
  padding-bottom: 61.7757%;
  margin-bottom: 20px; }
  .dm-device img {
    max-width: 100%;
    height: auto; }
  .dm-device > .device {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat; }
    .dm-device > .device> .screen {
      position: absolute;
      top: 11.04387%;
      bottom: 14.67474%;
      left: 13.36449%;
      right: 13.36449%;
      overflow: hidden;
      background-color: #3c3c3c; }
      .dm-device > .device> .screen .embed-youtube, .dm-device > .device> .screen iframe {
        width: 100% !important;
        height: 100% !important; }
  .dm-device[data-device="iphone5s"] {
    padding-bottom: 210.4779%; }
    .dm-device[data-device="iphone5s"][data-orientation="portrait"] {
      padding-bottom: 210.4779%; }
    .dm-device[data-device="iphone5s"][data-orientation="landscape"] {
      padding-bottom: 46.97011%; }
    .dm-device[data-device="iphone5s"] > .device, .dm-device[data-device="iphone5s"][data-color="black"] > .device, .dm-device[data-device="iphone5s"][data-orientation="portrait"][data-color="black"] > .device {
      background-image: url("../img/iphone5s_port_black.png"); }
    .dm-device[data-device="iphone5s"][data-orientation="landscape"] > .device, .dm-device[data-device="iphone5s"][data-orientation="landscape"][data-color="black"] > .device {
      background-image: url("../img/iphone5s_land_black.png"); }
    .dm-device[data-device="iphone5s"][data-color="white"] > .device, .dm-device[data-device="iphone5s"][data-orientation="portrait"][data-color="white"] > .device {
      background-image: url("../img/iphone5s_port_white.png"); }
    .dm-device[data-device="iphone5s"][data-orientation="landscape"][data-color="white"] > .device {
      background-image: url("../img/iphone5s_land_white.png"); }
    .dm-device[data-device="iphone5s"][data-color="gold"] > .device, .dm-device[data-device="iphone5s"][data-orientation="portrait"][data-color="gold"] > .device {
      background-image: url("../img/iphone5s_port_gold.png"); }
    .dm-device[data-device="iphone5s"][data-orientation="landscape"][data-color="gold"] > .device {
      background-image: url("../img/iphone5s_land_gold.png"); }
    .dm-device[data-device="iphone5s"] > .device > .screen, .dm-device[data-device="iphone5s"][data-orientation="portrait"] > .device > .screen {
      top: 14.7%;
      bottom: 14.2%;
      left: 8.6%;
      right: 7.5%; }
    .dm-device[data-device="iphone5s"][data-orientation="landscape"] > .device > .screen {
      top: 7.4%;
      bottom: 8.5%;
      left: 14.8%;
      right: 14.2%; }

/*
   iPhone 6
   ========================================================================== */
.dm-device {
  position: relative;
  width: 100%;
  padding-bottom: 61.7757%;
  margin-bottom: 20px; }
  .dm-device img {
    max-width: 100%;
    height: auto; }
  .dm-device > .device {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat; }
    .dm-device > .device> .screen {
      position: absolute;
      top: 11.04387%;
      bottom: 14.67474%;
      left: 13.36449%;
      right: 13.36449%;
      overflow: hidden;
      background-color: #3c3c3c; }
      .dm-device > .device> .screen .embed-youtube, .dm-device > .device> .screen iframe {
        width: 100% !important;
        height: 100% !important; }
  .dm-device[data-device="iphone6"] {
    padding-bottom: 200.4779%; }
    .dm-device[data-device="iphone6"][data-orientation="portrait"] {
      padding-bottom: 200.4779%; }
    .dm-device[data-device="iphone6"][data-orientation="landscape"] {
      padding-bottom: 49.97011%; }
    .dm-device[data-device="iphone6"] > .device, .dm-device[data-device="iphone6"][data-color="black"] > .device, .dm-device[data-device="iphone6"][data-orientation="portrait"][data-color="black"] > .device {
      background-image: url("../img/iphone6_port_black.png"); }
    .dm-device[data-device="iphone6"][data-orientation="landscape"] > .device, .dm-device[data-device="iphone6"][data-orientation="landscape"][data-color="black"] > .device {
      background-image: url("../img/iphone6_land_black.png"); }
    .dm-device[data-device="iphone6"][data-color="silver"] > .device, .dm-device[data-device="iphone6"][data-orientation="portrait"][data-color="silver"] > .device {
      background-image: url("../img/iphone6_port_silver.png"); }
    .dm-device[data-device="iphone6"][data-orientation="landscape"][data-color="silver"] > .device {
      background-image: url("../img/iphone6_land_silver.png"); }
    .dm-device[data-device="iphone6"][data-color="gold"] > .device, .dm-device[data-device="iphone6"][data-orientation="portrait"][data-color="gold"] > .device {
      background-image: url("../img/iphone6_port_gold.png"); }
    .dm-device[data-device="iphone6"][data-orientation="landscape"][data-color="gold"] > .device {
      background-image: url("../img/iphone6_land_gold.png"); }
    .dm-device[data-device="iphone6"] > .device > .screen, .dm-device[data-device="iphone6"][data-orientation="portrait"] > .device > .screen {
      top: 12.2%;
      bottom: 12.1%;
      left: 6.6%;
      right: 6.6%; }
    .dm-device[data-device="iphone6"][data-orientation="landscape"] > .device > .screen {
      top: 6%;
      bottom: 6.1%;
      left: 11.6%;
      right: 11.6%; }

/*
   iPhone 6 Plus
   ========================================================================== */
.dm-device {
  position: relative;
  width: 100%;
  padding-bottom: 61.7757%;
  margin-bottom: 20px; }
  .dm-device img {
    max-width: 100%;
    height: auto; }
  .dm-device > .device {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat; }
    .dm-device > .device> .screen {
      position: absolute;
      top: 11.04387%;
      bottom: 14.67474%;
      left: 13.36449%;
      right: 13.36449%;
      overflow: hidden;
      background-color: #3c3c3c; }
      .dm-device > .device> .screen .embed-youtube, .dm-device > .device> .screen iframe {
        width: 100% !important;
        height: 100% !important; }
  .dm-device[data-device="iphone6-plus"] {
    padding-bottom: 200.4779%; }
    .dm-device[data-device="iphone6-plus"][data-orientation="portrait"] {
      padding-bottom: 200.4779%; }
    .dm-device[data-device="iphone6-plus"][data-orientation="landscape"] {
      padding-bottom: 49.97011%; }
    .dm-device[data-device="iphone6-plus"] > .device, .dm-device[data-device="iphone6-plus"][data-color="black"] > .device, .dm-device[data-device="iphone6-plus"][data-orientation="portrait"][data-color="black"] > .device {
      background-image: url("../img/iphone6_plus_port_black.png"); }
    .dm-device[data-device="iphone6-plus"][data-orientation="landscape"] > .device, .dm-device[data-device="iphone6-plus"][data-orientation="landscape"][data-color="black"] > .device {
      background-image: url("../img/iphone6_plus_land_black.png"); }
    .dm-device[data-device="iphone6-plus"][data-color="silver"] > .device, .dm-device[data-device="iphone6-plus"][data-orientation="portrait"][data-color="silver"] > .device {
      background-image: url("../img/iphone6_plus_port_silver.png"); }
    .dm-device[data-device="iphone6-plus"][data-orientation="landscape"][data-color="silver"] > .device {
      background-image: url("../img/iphone6_plus_land_silver.png"); }
    .dm-device[data-device="iphone6-plus"][data-color="gold"] > .device, .dm-device[data-device="iphone6-plus"][data-orientation="portrait"][data-color="gold"] > .device {
      background-image: url("../img/iphone6_plus_port_gold.png"); }
    .dm-device[data-device="iphone6-plus"][data-orientation="landscape"][data-color="gold"] > .device {
      background-image: url("../img/iphone6_plus_land_gold.png"); }
    .dm-device[data-device="iphone6-plus"] > .device > .screen, .dm-device[data-device="iphone6-plus"][data-orientation="portrait"] > .device > .screen {
      top: 11.4%;
      bottom: 11.6%;
      left: 6.6%;
      right: 6.2%; }
    .dm-device[data-device="iphone6-plus"][data-orientation="landscape"] > .device > .screen {
      top: 6.3%;
      bottom: 6.5%;
      left: 11.4%;
      right: 11.6%; }

/*
   Lumia 920
   ========================================================================== */
.dm-device {
  position: relative;
  width: 100%;
  padding-bottom: 61.7757%;
  margin-bottom: 20px; }
  .dm-device img {
    max-width: 100%;
    height: auto; }
  .dm-device > .device {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat; }
    .dm-device > .device> .screen {
      position: absolute;
      top: 11.04387%;
      bottom: 14.67474%;
      left: 13.36449%;
      right: 13.36449%;
      overflow: hidden;
      background-color: #3c3c3c; }
      .dm-device > .device> .screen .embed-youtube, .dm-device > .device> .screen iframe {
        width: 100% !important;
        height: 100% !important; }
  .dm-device[data-device="lumia920"] {
    padding-bottom: 172.79635%; }
    .dm-device[data-device="lumia920"][data-orientation="portrait"] {
      padding-bottom: 172.79635%; }
    .dm-device[data-device="lumia920"][data-orientation="landscape"] {
      padding-bottom: 56.33304%; }
    .dm-device[data-device="lumia920"] > .device, .dm-device[data-device="lumia920"][data-orientation="portrait"] > .device {
      background-image: url("../img/lumia920_port.png"); }
    .dm-device[data-device="lumia920"][data-orientation="landscape"] > .device {
      background-image: url("../img/lumia920_land.png"); }
    .dm-device[data-device="lumia920"] > .device > .screen, .dm-device[data-device="lumia920"][data-orientation="portrait"] > .device > .screen {
      top: 10.64204%;
      bottom: 18.99736%;
      left: 13.52584%;
      right: 13.52584%; }
    .dm-device[data-device="lumia920"][data-orientation="landscape"] > .device > .screen {
      top: 12.26415%;
      bottom: 12.26415%;
      left: 10.5403%;
      right: 18.60053%; }

/*
   Macbook Pro
   ========================================================================== */
.dm-device {
  position: relative;
  width: 100%;
  padding-bottom: 61.7757%;
  margin-bottom: 20px; }
  .dm-device img {
    max-width: 100%;
    height: auto; }
  .dm-device > .device {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat; }
    .dm-device > .device> .screen {
      position: absolute;
      top: 11.04387%;
      bottom: 14.67474%;
      left: 13.36449%;
      right: 13.36449%;
      overflow: hidden;
      background-color: #3c3c3c; }
      .dm-device > .device> .screen .embed-youtube, .dm-device > .device> .screen iframe {
        width: 100% !important;
        height: 100% !important; }
  .dm-device[data-device="macbook"] {
    padding-bottom: 61.7757%; }
    .dm-device[data-device="macbook"] > .device {
      background-image: url("../img/macbook.png"); }
      .dm-device[data-device="macbook"] > .device > .screen {
        top: 11.04387%;
        bottom: 14.67474%;
        left: 13.36449%;
        right: 13.36449%; }

/*
   Nexus 7
   ========================================================================== */
.dm-device {
  position: relative;
  width: 100%;
  padding-bottom: 61.7757%;
  margin-bottom: 20px; }
  .dm-device img {
    max-width: 100%;
    height: auto; }
  .dm-device > .device {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat; }
    .dm-device > .device> .screen {
      position: absolute;
      top: 11.04387%;
      bottom: 14.67474%;
      left: 13.36449%;
      right: 13.36449%;
      overflow: hidden;
      background-color: #3c3c3c; }
      .dm-device > .device> .screen .embed-youtube, .dm-device > .device> .screen iframe {
        width: 100% !important;
        height: 100% !important; }
  .dm-device[data-device="nexus7"] {
    padding-bottom: 156.52174%; }
    .dm-device[data-device="nexus7"][data-orientation="portrait"] {
      padding-bottom: 156.52174%; }
    .dm-device[data-device="nexus7"][data-orientation="landscape"] {
      padding-bottom: 63.66782%; }
    .dm-device[data-device="nexus7"] > .device, .dm-device[data-device="nexus7"][data-orientation="portrait"] > .device {
      background-image: url("../img/nexus7_port.png"); }
    .dm-device[data-device="nexus7"][data-orientation="landscape"] > .device {
      background-image: url("../img/nexus7_land.png"); }
    .dm-device[data-device="nexus7"] > .device > .screen, .dm-device[data-device="nexus7"][data-orientation="portrait"] > .device > .screen {
      top: 13.13657%;
      bottom: 12.78935%;
      left: 13.76812%;
      right: 13.76812%; }
    .dm-device[data-device="nexus7"][data-orientation="landscape"] > .device > .screen {
      top: 13.76812%;
      bottom: 13.76812%;
      left: 13.09112%;
      right: 13.09112%; }

/*
   Galaxy S3
   ========================================================================== */
.dm-device {
  position: relative;
  width: 100%;
  padding-bottom: 61.7757%;
  margin-bottom: 20px; }
  .dm-device img {
    max-width: 100%;
    height: auto; }
  .dm-device > .device {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat; }
    .dm-device > .device> .screen {
      position: absolute;
      top: 11.04387%;
      bottom: 14.67474%;
      left: 13.36449%;
      right: 13.36449%;
      overflow: hidden;
      background-color: #3c3c3c; }
      .dm-device > .device> .screen .embed-youtube, .dm-device > .device> .screen iframe {
        width: 100% !important;
        height: 100% !important; }
  .dm-device[data-device="s3"] {
    padding-bottom: 178.78788%; }
    .dm-device[data-device="s3"][data-orientation="portrait"] {
      padding-bottom: 178.78788%; }
    .dm-device[data-device="s3"][data-orientation="landscape"] {
      padding-bottom: 55.9322%; }
    .dm-device[data-device="s3"] > .device, .dm-device[data-device="s3"][data-color="black"] > .device, .dm-device[data-device="s3"][data-orientation="portrait"][data-color="black"] > .device {
      background-image: url("../img/s3_port_black.png"); }
    .dm-device[data-device="s3"][data-orientation="landscape"] > .device, .dm-device[data-device="s3"][data-orientation="landscape"][data-color="black"] > .device {
      background-image: url("../img/s3_land_black.png"); }
    .dm-device[data-device="s3"][data-color="white"] > .device, .dm-device[data-device="s3"][data-orientation="portrait"][data-color="white"] > .device {
      background-image: url("../img/s3_port_white.png"); }
    .dm-device[data-device="s3"][data-orientation="landscape"][data-color="white"] > .device {
      background-image: url("../img/s3_land_white.png"); }
    .dm-device[data-device="s3"] > .device > .screen, .dm-device[data-device="s3"][data-orientation="portrait"] > .device > .screen {
      top: 12.37288%;
      bottom: 15.53672%;
      left: 13.83838%;
      right: 13.83838%; }
    .dm-device[data-device="s3"][data-orientation="landscape"] > .device > .screen {
      top: 13.83838%;
      bottom: 13.83838%;
      left: 12.37288%;
      right: 15.53672%; }

/*
   Surface
   ========================================================================== */
.dm-device {
  position: relative;
  width: 100%;
  padding-bottom: 61.7757%;
  margin-bottom: 20px; }
  .dm-device img {
    max-width: 100%;
    height: auto; }
  .dm-device > .device {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat; }
    .dm-device > .device> .screen {
      position: absolute;
      top: 11.04387%;
      bottom: 14.67474%;
      left: 13.36449%;
      right: 13.36449%;
      overflow: hidden;
      background-color: #3c3c3c; }
      .dm-device > .device> .screen .embed-youtube, .dm-device > .device> .screen iframe {
        width: 100% !important;
        height: 100% !important; }
  .dm-device[data-device="surface"] {
    padding-bottom: 64.7585%; }
    .dm-device[data-device="surface"][data-orientation="landscape"] {
      padding-bottom: 64.7585%; }
      .dm-device[data-device="surface"][data-orientation="landscape"] > .device {
        background-image: url("../img/surface.png"); }
      .dm-device[data-device="surface"][data-orientation="landscape"] > .device > .screen {
        top: 14.5488%;
        bottom: 14.91713%;
        left: 9.36196%;
        right: 9.36196%; }
    .dm-device[data-device="surface"] > .device {
      background-image: url("../img/surface.png"); }
    .dm-device[data-device="surface"] > .device > .screen {
      top: 14.5488%;
      bottom: 14.91713%;
      left: 9.36196%;
      right: 9.36196%; }

/**
 * Options
 */
/*
   Stacking
   ========================================================================== */
.dm-stacked {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  height: auto; }
  .dm-stacked .dm-stacked-left, .dm-stacked .dm-stacked-right {
    position: absolute;
    bottom: 0;
    z-index: 10; }
    .dm-stacked .dm-stacked-left.iphone6, .dm-stacked .dm-stacked-right.iphone6 {
      width: 17%; }
      .dm-stacked .dm-stacked-left.iphone6.landscape, .dm-stacked .dm-stacked-right.iphone6.landscape {
        width: 39%; }
    .dm-stacked .dm-stacked-left.iphone6-plus, .dm-stacked .dm-stacked-right.iphone6-plus {
      width: 21%; }
      .dm-stacked .dm-stacked-left.iphone6-plus.landscape, .dm-stacked .dm-stacked-right.iphone6-plus.landscape {
        width: 46%; }
    .dm-stacked .dm-stacked-left.iphone5s, .dm-stacked .dm-stacked-right.iphone5s {
      width: 17%; }
      .dm-stacked .dm-stacked-left.iphone5s.landscape, .dm-stacked .dm-stacked-right.iphone5s.landscape {
        width: 37%; }
    .dm-stacked .dm-stacked-left.iphone5, .dm-stacked .dm-stacked-right.iphone5 {
      width: 16%; }
      .dm-stacked .dm-stacked-left.iphone5.landscape, .dm-stacked .dm-stacked-right.iphone5.landscape {
        width: 35%; }
    .dm-stacked .dm-stacked-left.ipad, .dm-stacked .dm-stacked-right.ipad {
      bottom: -12px;
      width: 45%; }
      .dm-stacked .dm-stacked-left.ipad.landscape, .dm-stacked .dm-stacked-right.ipad.landscape {
        width: 65%; }
    .dm-stacked .dm-stacked-left.s3, .dm-stacked .dm-stacked-right.s3 {
      width: 20%; }
      .dm-stacked .dm-stacked-left.s3.landscape, .dm-stacked .dm-stacked-right.s3.landscape {
        width: 45%; }
    .dm-stacked .dm-stacked-left.nexus7, .dm-stacked .dm-stacked-right.nexus7 {
      width: 30%; }
      .dm-stacked .dm-stacked-left.nexus7.landscape, .dm-stacked .dm-stacked-right.nexus7.landscape {
        width: 50%; }
    .dm-stacked .dm-stacked-left.lumia920, .dm-stacked .dm-stacked-right.lumia920 {
      width: 20%; }
      .dm-stacked .dm-stacked-left.lumia920.landscape, .dm-stacked .dm-stacked-right.lumia920.landscape {
        width: 36%; }
    .dm-stacked .dm-stacked-left.surface, .dm-stacked .dm-stacked-right.surface {
      width: 45%; }
  .dm-stacked .dm-stacked-left {
    left: 50px; }
  .dm-stacked .dm-stacked-right {
    right: 50px; }
  .dm-stacked .dm-device {
    margin-bottom: 0; }
  @media screen and (max-width: 768px) {
    .dm-stacked .dm-stacked-left {
      left: 10px; }
    .dm-stacked .dm-stacked-right {
      right: 10px; } }

/*
   Hiding
   ========================================================================== */
.dm-hide-left {
  overflow: hidden;
  margin-left: -70px; }
  .dm-hide-left .dm-device {
    position: relative;
    right: 33.33333%; }

.dm-hide-right {
  overflow: hidden;
  margin-right: -70px; }
  .dm-hide-right .dm-device {
    position: relative;
    left: 33.33333%; }

/**
 * Browsers
 */
/*
   Chrome
   ========================================================================== */
.dm-browser {
  position: relative;
  width: 100%;
  padding-bottom: 61.7757%;
  margin-bottom: 20px; }
  .dm-browser img {
    max-width: 100%;
    height: auto;
    border-right: none !important; }
  .dm-browser > .device {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat; }
    .dm-browser > .device> .screen {
      position: absolute;
      top: 15.04387%;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      background-color: white;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px; }
      .dm-browser > .device> .screen .embed-youtube, .dm-browser > .device> .screen iframe {
        width: 100% !important;
        height: 100% !important; }
  .dm-browser[data-device="chrome"] > .device {
    background-image: url("../img/chrome.png"); }
    .dm-browser[data-device="chrome"] > .device > .screen {
      top: 12.4%;
      border: 1px solid #f3f2f3; }

/*
   Firefox
   ========================================================================== */
.dm-browser {
  position: relative;
  width: 100%;
  padding-bottom: 61.7757%;
  margin-bottom: 20px; }
  .dm-browser img {
    max-width: 100%;
    height: auto;
    border-right: none !important; }
  .dm-browser > .device {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat; }
    .dm-browser > .device> .screen {
      position: absolute;
      top: 15.04387%;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      background-color: white;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px; }
      .dm-browser > .device> .screen .embed-youtube, .dm-browser > .device> .screen iframe {
        width: 100% !important;
        height: 100% !important; }
  .dm-browser[data-device="firefox"] > .device {
    background-image: url("../img/firefox.png"); }
    .dm-browser[data-device="firefox"] > .device > .screen {
      top: 13.3%;
      border: 1px solid #f6f6f6; }

/*
   Safari
   ========================================================================== */
.dm-browser {
  position: relative;
  width: 100%;
  padding-bottom: 61.7757%;
  margin-bottom: 20px; }
  .dm-browser img {
    max-width: 100%;
    height: auto;
    border-right: none !important; }
  .dm-browser > .device {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat; }
    .dm-browser > .device> .screen {
      position: absolute;
      top: 15.04387%;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      background-color: white;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px; }
      .dm-browser > .device> .screen .embed-youtube, .dm-browser > .device> .screen iframe {
        width: 100% !important;
        height: 100% !important; }
  .dm-browser[data-device="safari"] > .device {
    background-image: url("../img/safari.png"); }
    .dm-browser[data-device="safari"] > .device > .screen {
      top: 5.9%;
      border: 1px solid #eeeeee; }

/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets
*********************************/
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
  outline: none; }

.slides, .flex-control-nav, .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0; }
  .flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden; }
  .flexslider .slides img {
    width: 100%;
    display: block; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flex-pauseplay span {
  text-transform: capitalize; }

/* Clearfix for the .slides element */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .slides {
  display: block; }

* html .slides {
  height: 1%; }

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block; }

/* FlexSlider Default Theme
*********************************/
.flexslider {
  margin: 0 0 60px;
  position: relative;
  zoom: 1; }

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.loading .flex-viewport {
  max-height: 300px; }

.flexslider .slides {
  zoom: 1; }

.carousel li {
  margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {
  *height: 0; }
  .flex-direction-nav a {
    text-decoration: none;
    display: block;
    width: 40px;
    height: 40px;
    margin: -24px 0 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .flex-direction-nav .flex-prev {
    height: 0;
    width: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid rgba(0, 0, 0, 0.4);
    left: -50px; }
  .flex-direction-nav .flex-next {
    height: 0;
    width: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid rgba(0, 0, 0, 0.4);
    right: -50px;
    text-align: right; }

.flexslider:hover .flex-prev {
  opacity: 0.7;
  left: 10px; }
.flexslider:hover .flex-next {
  opacity: 0.7;
  right: 10px; }
  .flexslider:hover .flex-next:hover {
    opacity: 1; }
.flexslider:hover .flex-prev:hover {
  opacity: 1; }

/* Control Nav */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center; }
  .flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline; }

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); }
  .flex-control-paging li a:hover {
    background: #333333;
    background: rgba(0, 0, 0, 0.7); }
  .flex-control-paging li a.flex-active {
    background: black;
    background: rgba(0, 0, 0, 0.9);
    cursor: default; }

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }
  .flex-control-thumbs li {
    width: 25%;
    float: left;
    margin: 0; }
  .flex-control-thumbs img {
    width: 100%;
    display: block;
    opacity: 0.7;
    cursor: pointer; }
    .flex-control-thumbs img:hover {
      opacity: 1; }
  .flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default; }

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px; }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px; } }
