/*
   iPhone 5s
   ========================================================================== */
.dm-device {
    @include dm-device;
    &[data-device="iphone5s"] {
        padding-bottom: 210.477897%;
        &[data-orientation="portrait"] {
            padding-bottom: 210.477897%;
        }
        &[data-orientation="landscape"] {
            padding-bottom: 46.970114%;
        }
        & > .device, &[data-color="black"] > .device,
        &[data-orientation="portrait"][data-color="black"] > .device {
            background-image: url("../img/iphone5s_port_black.png");
        }
        &[data-orientation="landscape"] {
            & > .device, &[data-color="black"] > .device {
                background-image: url("../img/iphone5s_land_black.png");
            }
        }
        &[data-color="white"] > .device,
        &[data-orientation="portrait"][data-color="white"] > .device {
            background-image: url("../img/iphone5s_port_white.png");
        }
        &[data-orientation="landscape"][data-color="white"] > .device {
            background-image: url("../img/iphone5s_land_white.png");
        }
        &[data-color="gold"] > .device,
        &[data-orientation="portrait"][data-color="gold"] > .device {
            background-image: url("../img/iphone5s_port_gold.png");
        }
        &[data-orientation="landscape"][data-color="gold"] > .device {
            background-image: url("../img/iphone5s_land_gold.png");
        }
        & > .device > .screen,
        &[data-orientation="portrait"] > .device > .screen {
            top: 14.7%;
            bottom: 14.2%;
            left: 8.6%;
            right: 7.5%;
        }
        &[data-orientation="landscape"] > .device > .screen {
            top: 7.4%;
            bottom: 8.5%;
            left: 14.8%;
            right: 14.2%;
        }
    }
}
