/*
   iPhone 6 Plus
   ========================================================================== */
.dm-device {
    @include dm-device;
    &[data-device="iphone6-plus"] {
        padding-bottom: 200.477897%;
        &[data-orientation="portrait"] {
            padding-bottom: 200.477897%;
        }
        &[data-orientation="landscape"] {
            padding-bottom: 49.9701136%;
        }
        & > .device, &[data-color="black"] > .device,
        &[data-orientation="portrait"][data-color="black"] > .device {
            background-image: url("../img/iphone6_plus_port_black.png");
        }
        &[data-orientation="landscape"] {
            & > .device, &[data-color="black"] > .device {
                background-image: url("../img/iphone6_plus_land_black.png");
            }
        }
        &[data-color="silver"] > .device,
        &[data-orientation="portrait"][data-color="silver"] > .device {
            background-image: url("../img/iphone6_plus_port_silver.png");
        }
        &[data-orientation="landscape"][data-color="silver"] > .device {
            background-image: url("../img/iphone6_plus_land_silver.png");
        }
        &[data-color="gold"] > .device,
        &[data-orientation="portrait"][data-color="gold"] > .device {
            background-image: url("../img/iphone6_plus_port_gold.png");
        }
        &[data-orientation="landscape"][data-color="gold"] > .device {
            background-image: url("../img/iphone6_plus_land_gold.png");
        }
        & > .device > .screen,
        &[data-orientation="portrait"] > .device > .screen {
            top: 11.4%;
            bottom: 11.6%;
            left: 6.6%;
            right: 6.2%;
        }
        &[data-orientation="landscape"] > .device > .screen {
            top: 6.3%;
            bottom: 6.5%;
            left: 11.4%;
            right: 11.6%;
        }
    }
}
