$base-url: '../images/';
$screen-color: #3c3c3c;

// Slick variables
$slick-font-path: "../fonts/";
//$slick-font-family: "slick";
$slick-loader-path: $base-url;
//$slick-arrow-color: white;
//$slick-dot-color: black;
//$slick-dot-color-active: $slick-dot-color;
//$slick-prev-character: "←";
//$slick-next-character: "→";
//$slick-dot-character: "•";
//$slick-dot-size: 6px;
//$slick-opacity-default: 0.75;
//$slick-opacity-on-hover: 1;
//$slick-opacity-not-active: 0.25;