/*
   Stacks
   ========================================================================== */
/**
 *  By:
 *      Justin Peacock
 *      http://byjust.in/
 */

.stacked {
    position: relative;
    @include size(100% auto);
    .stacked-left,
    .stacked-right {
        position: absolute;
        bottom: 0;
        z-index: 10;
        &.iphone5 {
            width: 16%;
            &.landscape {
                width: 35%;
            }
        }
        &.ipad {
            bottom: -12px;
            width: 45%;
            &.landscape {
                width: 65%;
            }
        }
        &.s3 {
            width: 20%;
            &.landscape {
                width: 45%;
            }
        }
        &.nexus7 {
            width: 30%;
            &.landscape {
                width: 50%;
            }
        }
        &.lumia920 {
            width: 20%;
            &.landscape {
                width: 36%;
            }
        }
        &.surface {
            width: 45%;
        }
    }
    .stacked-left {
        left: 50px;
    }
    .stacked-right {
        right: 50px;
    }
    @media screen and (max-width: 768px) {
        .stacked-left {
            left: 10px;
        }
        .stacked-right {
            right: 10px;
        }
    }
}