@import "bourbon";
@import "variables";

/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
    outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
    margin: 0;
    padding: 0;
    .slides {
        & > li {
            display: none;
            -webkit-backface-visibility: hidden;
        }
        img {
            width: 100%;
            display: block;
        }
    }
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flex-pauseplay span {
    text-transform: capitalize;
}

/* Clearfix for the .slides element */
.slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .slides {
    display: block;
}

* html .slides {
    height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
    display: block;
}

/* FlexSlider Default Theme
*********************************/
.flexslider {
    margin: 0 0 60px;
    position: relative;
    zoom: 1;
}

.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.loading .flex-viewport {
    max-height: 300px;
}

.flexslider .slides {
    zoom: 1;
}

.carousel li {
    margin-right: 5px;
}

/* Direction Nav */
.flex-direction-nav {
    *height: 0;
    a {
        text-decoration: none;
        display: block;
        width: 40px;
        height: 40px;
        margin: (-$flex-arrow-size) 0 0;
        position: absolute;
        top: 50%;
        z-index: 10;
        overflow: hidden;
        opacity: 0;
        cursor: pointer;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        transition: all .3s ease;
    }
    .flex-prev {
        @include triangle($flex-arrow-size, $flex-arrow-color, left);
        left: -50px;
    }
    .flex-next {
        @include triangle($flex-arrow-size, $flex-arrow-color, right);
        right: -50px;
        text-align: right;
    }
}

.flexslider:hover {
    .flex-prev {
        opacity: 0.7;
        left: 10px;
    }
    .flex-next {
        opacity: 0.7;
        right: 10px;
        &:hover {
            opacity: 1;
        }
    }
    .flex-prev:hover {
        opacity: 1;
    }
}

/* Control Nav */
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -40px;
    text-align: center;
    li {
        margin: 0 6px;
        display: inline-block;
        zoom: 1;
        *display: inline;
    }
}

.flex-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    background: #666;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    &:hover {
        background: #333;
        background: rgba(0, 0, 0, 0.7);
    }
    &.flex-active {
        background: #000;
        background: rgba(0, 0, 0, 0.9);
        cursor: default;
    }
}

.flex-control-thumbs {
    margin: 5px 0 0;
    position: static;
    overflow: hidden;
    li {
        width: 25%;
        float: left;
        margin: 0;
    }
    img {
        width: 100%;
        display: block;
        opacity: .7;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
    }
    .flex-active {
        opacity: 1;
        cursor: default;
    }
}

.flex-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 10px;
    background-color: rgba(black, 0.75);
}

@media screen and (max-width: 860px) {
    .flex-direction-nav {
        .flex-prev {
            opacity: 1;
            left: 10px;
        }
        .flex-next {
            opacity: 1;
            right: 10px;
        }
    }
}
